body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background: green;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.landing {
  height: 90vh;
  background-image: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  color: white;
  text-align: center;
}

button {
  padding: 8px 15px;
  margin-top: 10px;
  cursor: pointer;
}
img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.landing-container {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
}

.landing-container h1 {
  font-size: 50px;
  font-weight: bold;
}

.landing-container p {
  font-size: 20px;
  margin: 15px 0;
}

.landing-container button {
  padding: 12px 25px;
  font-size: 18px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
