body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background: green;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.landing {
  height: 90vh;
  background-image: url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  color: white;
  text-align: center;
}

button {
  padding: 8px 15px;
  margin-top: 10px;
  cursor: pointer;
}
img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
